<!-- row 3 -->
<div class="row">
	<div class="jumbotron">
		<%= @username%>
	</div>
</div>
<!-- row 2 -->
<div class="row">

	<div class="col-xs-3">
		<div class="panel panel-default">
  			<div class="panel-body">
   				 Profile
 			 </div>
		</div>
	</div>
	<!-- for every post in the collection of posts 
	write out content from that post -->
	<div class="col-xs-6">
	<% for @p in @posts %>
		<div class="panel panel-default">
  			<div class="panel-body">
   				<p><%= @p.content  %></p>
 			 </div>
		</div>
		<% end %>
	</div>
		<div class="col-xs-3">
		<div class="panel panel-default">
  			<div class="panel-body">
   				 Who to follow
 			 </div>
		</div>
	</div>
</div>
<!-- row 3 -->
<div class="row">
		<div class="col-xs-3 col-xs-offset-9">
		<div class="panel panel-default">
  			<div class="panel-body">
   				 About
 			 </div>
		</div>
	</div>
</div>
</div>
